#src{
    position: relative;
    font: 1em sans-serif;
    font-size: medium;
    top: 20px;
    left: 1%;
    font-weight: 600;
}

#dst{   
    position: relative;
    font: 1em sans-serif;
    font-size: medium;
    top: 20px;
    left: 6%;
    font-weight: 600;
}

#arrow{
    position: relative;
    top: 20px;
    left: 4%;
    font-weight: 100;
}

#choosen_date{
    position: relative;
    font: 1em sans-serif;
    font-size: medium;
    top: 20px;
    left: 10%;
    font-weight: 600;
}

#modify_button{
    position: relative;
    left: 2%;
    top: 30px;
    background-color: rgb(253, 152, 0);
    border-color:  rgb(253, 152, 0);
    color: #000;

}

#sort_icon{
    position: relative;
    top: 30px;
    color: #000;
}

#filter_icon{
    position: relative;
    top: 30px;
    color: #000;
}

.icons{
    position: relative;
    left: 10%;
}

#back_button{
    position: relative;
    padding-left: 10%;
    top: 25%;
}

#back_button_logo{
    position: relative;    
}
.content{

}
.content_data{
  background-color:rgb(232, 234, 234);
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
  color: black;
  padding-left: 15px;
  margin-bottom: 9px;
  border-radius: 10px;
}

.content_column{
    position: relative;
    left: 10px;
}
.seats_available{
  text-align: left; 
  padding-right: 0px;
  padding-top: 5px;

}
.price_column{
   text-align: center;
   padding: 0px;
}
/* #fare_button{
    background-color:rgb(232, 234, 234);
    border-color: rgb(232, 234, 234);
} */
.fa-caret-down{
    top: 4px;

}
.lds-spinner {
    color: black;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    position: absolute;
    left:45%;
    top: 50%;
    width: 64px;
    height: 64px;
  }
  .lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: "!";
    display: block;
    position: absolute;
    top: -14px;
    left: 24px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  